@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

.App {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

input {
  margin-left: 100px;
  margin-top: 50px;
  width: 70vw;
  height: 50px;
  border-radius: 5px;
}
@media only screen and (max-width: 600px) {
  .App {
    text-align: justify;
  }
  input {
    margin-left: 60px;
  }
}
